<a href="https://colab.research.google.com/github/nitin-khandagale/blogposts/blob/master/campus_placement_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install sidetable

Collecting sidetable
  Downloading https://files.pythonhosted.org/packages/40/e5/38021cab1b17c3af86402e341119c1f09677a971fbc9e26334f497c3d871/sidetable-0.5.0-py3-none-any.whl
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.6/dist-packages (from sidetable) (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=1.0->sidetable) (1.12.0)
Installing collected packages: sidetable
Successfully installed sidetable-0.5.0

In [3]:
import sidetable

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0

[5 rows x 15 columns]

In [6]:
df = df.drop(['sl_no', 'salary'], axis='columns')

In [7]:
df.head()

  gender  ssc_p    ssc_b  hsc_p  ... etest_p specialisation  mba_p      status
0      M  67.00   Others  91.00  ...    55.0         Mkt&HR  58.80      Placed
1      M  79.33  Central  78.33  ...    86.5        Mkt&Fin  66.28      Placed
2      M  65.00  Central  68.00  ...    75.0        Mkt&Fin  57.80      Placed
3      M  56.00  Central  52.00  ...    66.0         Mkt&HR  59.43  Not Placed
4      M  85.80  Central  73.60  ...    96.8        Mkt&Fin  55.50      Placed

[5 rows x 13 columns]

In [8]:
df.stb.missing()

                Missing  Total  Percent
gender                0    215      0.0
ssc_p                 0    215      0.0
ssc_b                 0    215      0.0
hsc_p                 0    215      0.0
hsc_b                 0    215      0.0
hsc_s                 0    215      0.0
degree_p              0    215      0.0
degree_t              0    215      0.0
workex                0    215      0.0
etest_p               0    215      0.0
specialisation        0    215      0.0
mba_p                 0    215      0.0
status                0    215      0.0

In [9]:
df.select_dtypes('object')

    gender    ssc_b    hsc_b  ... workex specialisation      status
0        M   Others   Others  ...     No         Mkt&HR      Placed
1        M  Central   Others  ...    Yes        Mkt&Fin      Placed
2        M  Central  Central  ...     No        Mkt&Fin      Placed
3        M  Central  Central  ...     No         Mkt&HR  Not Placed
4        M  Central  Central  ...     No        Mkt&Fin      Placed
..     ...      ...      ...  ...    ...            ...         ...
210      M   Others   Others  ...     No        Mkt&Fin      Placed
211      M   Others   Others  ...     No        Mkt&Fin      Placed
212      M   Others   Others  ...    Yes        Mkt&Fin      Placed
213      F   Others   Others  ...     No         Mkt&HR      Placed
214      M  Central   Others  ...     No         Mkt&HR  Not Placed

[215 rows x 8 columns]

In [10]:
df['gender'].unique()

array(['M', 'F'], dtype=object)

In [12]:
df['ssc_b'].unique()

array(['Others', 'Central'], dtype=object)

In [15]:
df['degree_t'].unique()

array(['Sci&Tech', 'Comm&Mgmt', 'Others'], dtype=object)

In [16]:
df['specialisation'].unique()

array(['Mkt&HR', 'Mkt&Fin'], dtype=object)

In [17]:
df['status'].unique()

array(['Placed', 'Not Placed'], dtype=object)

In [18]:
cat_columns = [x for x in df.select_dtypes('object').columns]
cat_columns

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le = LabelEncoder()

In [21]:
for col in cat_columns:
  df[col] = le.fit_transform(df[col])

In [22]:
df.head()

   gender  ssc_p  ssc_b  hsc_p  ...  etest_p  specialisation  mba_p  status
0       1  67.00      1  91.00  ...     55.0               1  58.80       1
1       1  79.33      0  78.33  ...     86.5               0  66.28       1
2       1  65.00      0  68.00  ...     75.0               0  57.80       1
3       1  56.00      0  52.00  ...     66.0               1  59.43       0
4       1  85.80      0  73.60  ...     96.8               0  55.50       1

[5 rows x 13 columns]

In [23]:
from sklearn.linear_model import LogisticRegression

In [30]:
lr_model = LogisticRegression(max_iter=10)

In [25]:
from sklearn.model_selection import train_test_split

In [27]:
x = df.drop('status',axis='columns')
y = df['status']

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1)

In [31]:
lr_model.fit(x,y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
lr_model.score(x_test, y_test)

0.8181818181818182