<a href="https://colab.research.google.com/github/nitin-khandagale/blogposts/blob/master/getting_best_features_classification_rfc_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [39]:
df = pd.read_csv('data.csv')

In [40]:
df.head()

  gender  ssc_p    ssc_b  hsc_p  ... etest_p specialisation  mba_p      status
0      M  67.00   Others  91.00  ...    55.0         Mkt&HR  58.80      Placed
1      M  79.33  Central  78.33  ...    86.5        Mkt&Fin  66.28      Placed
2      M  65.00  Central  68.00  ...    75.0        Mkt&Fin  57.80      Placed
3      M  56.00  Central  52.00  ...    66.0         Mkt&HR  59.43  Not Placed
4      M  85.80  Central  73.60  ...    96.8        Mkt&Fin  55.50      Placed

[5 rows x 13 columns]

In [41]:
pip install sidetable

Collecting sidetable
  Downloading https://files.pythonhosted.org/packages/40/e5/38021cab1b17c3af86402e341119c1f09677a971fbc9e26334f497c3d871/sidetable-0.5.0-py3-none-any.whl
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.6/dist-packages (from sidetable) (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=1.0->sidetable) (1.12.0)
Installing collected packages: sidetable
Successfully installed sidetable-0.5.0

In [42]:
import sidetable

In [43]:
df.stb.missing()

                Missing  Total  Percent
gender                0    215      0.0
ssc_p                 0    215      0.0
ssc_b                 0    215      0.0
hsc_p                 0    215      0.0
hsc_b                 0    215      0.0
hsc_s                 0    215      0.0
degree_p              0    215      0.0
degree_t              0    215      0.0
workex                0    215      0.0
etest_p               0    215      0.0
specialisation        0    215      0.0
mba_p                 0    215      0.0
status                0    215      0.0

In [44]:
df.select_dtypes('object')

    gender    ssc_b    hsc_b  ... workex specialisation      status
0        M   Others   Others  ...     No         Mkt&HR      Placed
1        M  Central   Others  ...    Yes        Mkt&Fin      Placed
2        M  Central  Central  ...     No        Mkt&Fin      Placed
3        M  Central  Central  ...     No         Mkt&HR  Not Placed
4        M  Central  Central  ...     No        Mkt&Fin      Placed
..     ...      ...      ...  ...    ...            ...         ...
210      M   Others   Others  ...     No        Mkt&Fin      Placed
211      M   Others   Others  ...     No        Mkt&Fin      Placed
212      M   Others   Others  ...    Yes        Mkt&Fin      Placed
213      F   Others   Others  ...     No         Mkt&HR      Placed
214      M  Central   Others  ...     No         Mkt&HR  Not Placed

[215 rows x 8 columns]

In [45]:
cat_columns = [x for x in df.select_dtypes('object').columns]

In [46]:
cat_columns

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
le = LabelEncoder()

In [49]:
for col in cat_columns:
  df[col] = le.fit_transform(df[col])

In [50]:
x = df.drop('status', axis='columns')
y = df['status']

In [51]:
from sklearn.ensemble import RandomForestClassifier

In [52]:
model = RandomForestClassifier()

In [53]:
model.fit(x,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [54]:
model.feature_importances_

array([0.02672019, 0.28231212, 0.01482856, 0.19309876, 0.01236911,
       0.01362281, 0.19373947, 0.01767653, 0.03458169, 0.0695084 ,
       0.02898418, 0.11255818])

In [55]:
fig = go.Figure([go.Bar(x=df.columns, y=model.feature_importances_,
                        marker_color=px.colors.sequential.RdBu)])

fig.update_layout(title='Most Important Features')
fig.show()