<a href="https://colab.research.google.com/github/nitin-khandagale/blogposts/blob/master/xgboost_with_gridsearchcv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [0]:
df = pd.read_csv('admission.csv')

In [0]:
df.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [0]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [0]:
df = df.drop('Serial No.', axis='columns')

In [0]:
df.head()

   GRE Score  TOEFL Score  University Rating  ...  CGPA  Research  Chance of Admit
0        337          118                  4  ...  9.65         1              0.92
1        324          107                  4  ...  8.87         1              0.76
2        316          104                  3  ...  8.00         1              0.72
3        322          110                  3  ...  8.67         1              0.80
4        314          103                  2  ...  8.21         0              0.65

[5 rows x 8 columns]

In [0]:
x = df.drop('Chance of Admit ', axis='columns')
y = df['Chance of Admit ']

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=42)

In [0]:
import xgboost as xgb

In [0]:
my_model = xgb.XGBRegressor(learning_rate=0.01,
                            n_estimators=200,
                            max_depth = 10)

In [0]:
my_model.fit(x_train,y_train)

[07:21:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.01, max_delta_step=0,
             max_depth=10, min_child_weight=1, missing=None, n_estimators=200,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [0]:
predictions = my_model.predict(x_test)
predictions

array([0.8785752 , 0.7463918 , 0.58321595, 0.6841644 , 0.77803016,
       0.8308709 , 0.48153993, 0.5980663 , 0.7927667 , 0.74289626,
       0.668728  , 0.6925988 , 0.6055089 , 0.8698859 , 0.8071852 ,
       0.52870613, 0.79504   , 0.5786623 , 0.51339906, 0.53002423,
       0.6218078 , 0.4769791 , 0.6859843 , 0.7189771 , 0.74082613,
       0.5975107 , 0.8731014 , 0.7981994 , 0.6445588 , 0.70711744,
       0.62775993, 0.70541775, 0.55235416, 0.833729  , 0.65920186,
       0.7235327 , 0.6116984 , 0.8785752 , 0.60370904, 0.67118764,
       0.8785752 , 0.5871479 , 0.69093883, 0.8011174 , 0.8785752 ,
       0.6025568 , 0.8785752 , 0.773571  , 0.6537324 , 0.8608613 ,
       0.852172  , 0.53920925, 0.656043  , 0.47873193, 0.8785752 ,
       0.6050967 , 0.8785752 , 0.7066115 , 0.59025013, 0.40945575,
       0.5437047 , 0.6810359 , 0.57598364, 0.5142009 , 0.4784575 ,
       0.5501333 , 0.8347601 , 0.84650075, 0.66272897, 0.66883063,
       0.6002376 , 0.73555136, 0.6506157 , 0.5625883 , 0.5782905 ,
       0.5607412 , 0.8020824 , 0.8079378 , 0.5290528 , 0.662579  ,
       0.6025291 , 0.83522695, 0.6147949 , 0.8020824 , 0.6721036 ,
       0.6445304 , 0.6104042 , 0.7241326 , 0.7428824 , 0.6611116 ,
       0.716926  , 0.8577516 , 0.86349124, 0.6751559 , 0.72997636,
       0.47899222, 0.6810521 , 0.6853428 , 0.67878556, 0.6203956 ,
       0.74477714, 0.6871239 , 0.65987235, 0.6622484 , 0.60738325,
       0.58321595, 0.70336056, 0.73476994, 0.59944105, 0.650918  ,
       0.61690426, 0.8785752 , 0.7997129 , 0.8785752 , 0.45354217,
       0.75592124, 0.6603188 , 0.8411634 , 0.4842071 , 0.60347486,
       0.6882076 , 0.8105376 , 0.68167055, 0.6845598 , 0.65793544],
      dtype=float32)

In [0]:
score = my_model.score(x_test, y_test)
mae = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mae)

In [0]:
print('Model Accuracy : ', score)
print('Mean Squared Error : ', mae)
print('RMSE : ', rmse)

Model Accuracy :  0.7316321668111452
Mean Squared Error :  0.005239010713678726
RMSE :  0.07238101072573334

In [0]:
rmse

0.07238101072573334

In [0]:
from sklearn.model_selection import GridSearchCV

In [0]:
params = {
    'max_depth': range (2, 10, 1),
    'n_estimators': range(60, 220, 40),
    'learning_rate': [0.1, 0.01, 0.05]
}

In [0]:
grid_search = GridSearchCV(estimator=my_model,
                           param_grid=params,                           
                           n_jobs=10,
                           cv=10,
                           verbose=True)

In [0]:
grid_search.fit(x_train,y_train)

Fitting 10 folds for each of 96 candidates, totalling 960 fits

[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  42 tasks      | elapsed:    1.1s
[Parallel(n_jobs=10)]: Done 321 tasks      | elapsed:   12.8s
[Parallel(n_jobs=10)]: Done 571 tasks      | elapsed:   22.2s
[Parallel(n_jobs=10)]: Done 921 tasks      | elapsed:   37.7s

[07:35:07] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

[Parallel(n_jobs=10)]: Done 960 out of 960 | elapsed:   40.2s finished

GridSearchCV(cv=10, error_score=nan,
             estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                    colsample_bylevel=1, colsample_bynode=1,
                                    colsample_bytree=1, gamma=0,
                                    importance_type='gain', learning_rate=0.01,
                                    max_delta_step=0, max_depth=10,
                                    min_child_weight=1, missing=None,
                                    n_estimators=200, n_jobs=1, nthread=None,
                                    objective='reg:linear', random_state=0,
                                    reg_alpha=0, reg_lambda=1,
                                    scale_pos_weight=1, seed=None, silent=None,
                                    subsample=1, verbosity=1),
             iid='deprecated', n_jobs=10,
             param_grid={'learning_rate': [0.1, 0.01, 0.05],
                         'max_depth': range(2, 10),
                         'n_estimators': range(60, 220, 40)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=True)

In [0]:
predictions_1 = grid_search.predict(x_test)
predictions_1

array([0.9321965 , 0.7754983 , 0.60434866, 0.70649767, 0.8074559 ,
       0.8773107 , 0.47659034, 0.6479396 , 0.8292232 , 0.7819885 ,
       0.7051051 , 0.71536374, 0.6814879 , 0.93351334, 0.84434754,
       0.5575907 , 0.83317626, 0.60378724, 0.53752446, 0.5557099 ,
       0.6357167 , 0.5399263 , 0.72435176, 0.77609384, 0.7580795 ,
       0.60091007, 0.93491626, 0.8407599 , 0.6496845 , 0.73285025,
       0.5504495 , 0.7284399 , 0.555032  , 0.8865059 , 0.6380768 ,
       0.7432487 , 0.5409546 , 0.94161975, 0.62936056, 0.7043438 ,
       0.9454001 , 0.55049115, 0.6854825 , 0.85189676, 0.9434846 ,
       0.5895054 , 0.93654096, 0.812364  , 0.7574407 , 0.9207794 ,
       0.90656066, 0.5465455 , 0.67854655, 0.49430326, 0.9441266 ,
       0.6370417 , 0.93786454, 0.73944384, 0.6504014 , 0.4631624 ,
       0.60983086, 0.6832298 , 0.61480963, 0.56003773, 0.46147028,
       0.6079391 , 0.8888391 , 0.907881  , 0.67979085, 0.7050109 ,
       0.6039439 , 0.7553061 , 0.689108  , 0.5906809 , 0.5468786 ,
       0.65999687, 0.84162796, 0.86591303, 0.54870415, 0.6693134 ,
       0.68194443, 0.8805959 , 0.6256373 , 0.86190975, 0.7361335 ,
       0.64481074, 0.6148575 , 0.7434841 , 0.774036  , 0.68565655,
       0.748037  , 0.90254134, 0.92787087, 0.6843347 , 0.77261317,
       0.45219693, 0.69589037, 0.7454311 , 0.7238266 , 0.6843347 ,
       0.7763261 , 0.7321832 , 0.6443597 , 0.6923848 , 0.6476566 ,
       0.57783854, 0.7192219 , 0.7792263 , 0.6427306 , 0.6878911 ,
       0.6223111 , 0.9441266 , 0.8412874 , 0.94556475, 0.46340495,
       0.79222965, 0.69589037, 0.90091383, 0.50480217, 0.67436254,
       0.7213815 , 0.8668486 , 0.70450896, 0.7214577 , 0.7210435 ],
      dtype=float32)

In [0]:
score_1 = grid_search.score(x_test, y_test)
mae_1 = mean_squared_error(y_test, predictions_1)
rmse_1 = np.sqrt(mae_1)

In [0]:
score_1, mae_1, rmse_1

(0.7989171923034357, 0.003925489025048512, 0.06265372315392367)

In [0]:
score, mae, rmse

(0.7316321668111452, 0.005239010713678726, 0.07238101072573334)

In [0]:
print('Model Accuracy : ', score_1)
print('Mean Squared Error : ', mae_1)
print('RMSE : ', rmse_1)

Model Accuracy :  0.7989171923034357
Mean Squared Error :  0.003925489025048512
RMSE :  0.06265372315392367